*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{
    background:#f2f4f3;
    color:#222;
}


.layout{
    display:flex;
    min-height:100vh;
}


/* MENU LATERAL */

.sidebar{
    width:280px;
    background:#014f43;
    color:white;
    min-height:100vh;
    position:fixed;
    left:0;
    top:0;
}


.logo{
    text-align:center;
    padding:30px 15px;
    background:#013a32;
}


.logo h1{
    font-size:32px;
}


.logo p{
    margin-top:8px;
}



/* NAVEGACION */

nav{
    padding:15px;
}


nav a,
.dropdown-btn{

    display:flex;
    justify-content:space-between;
    width:100%;
    padding:15px;
    margin-bottom:5px;

    color:white;
    text-decoration:none;

    background:none;
    border:none;

    cursor:pointer;

    font-size:16px;
    text-align:left;
}


nav a:hover,
.dropdown-btn:hover{

    background:#016b5b;
    border-radius:8px;

}



/* SUBMENU */


.submenu{

    display:none;
    margin-left:15px;
    padding-left:10px;

}


.submenu a{

    font-size:14px;
    padding:10px;

}


.menu-item.active > .submenu{

    display:block;
}



/* CONTENIDO */


.content{

    margin-left:280px;
    padding:30px;
    width:100%;

}


header{

    background:white;
    padding:35px;
    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    text-align:center;

}


header h1{

    color:#014f43;
    font-size:38px;

}


header p{

    margin-top:10px;

}




/* TARJETAS */


.cards{

    margin-top:30px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}


.card{

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:
    0 5px 15px rgba(0,0,0,.1);

}


.card h2{

    color:#016b5b;

    margin-bottom:15px;

}



/* CELULAR */


@media(max-width:800px){

.sidebar{

    position:fixed;
    width:280px;
    height:100vh;

}


.content{

    margin-left:280px;
    padding:15px;

}


header h1{

    font-size:28px;

}


}
