*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#016B5B;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:45px;
}

header p{
    margin-top:10px;
    font-size:20px;
}

nav{
    background:#02473D;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    padding:18px;
    font-weight:bold;
}

nav a:hover{
    background:white;
    color:#02473D;
}

.contenedor{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

.titulo{
    text-align:center;
    margin-bottom:25px;
    color:#02473D;
}

.tarjetas{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.tarjeta{
    background:white;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    transition:.3s;
}

.tarjeta:hover{
    transform:translateY(-8px);
}

.tarjeta h2{
    color:#016B5B;
    margin-bottom:15px;
}

.tarjeta a{
    text-decoration:none;
    color:inherit;
    display:block;
}

footer{
    margin-top:50px;
    background:#02473D;
    color:white;
    text-align:center;
    padding:20px;
}
